/* 
    Made with passion by xyba
*/
* {
    color: #FEFEFE;
    font-family: sans-serif;
}

body {
   background-color: rgb(30 30 30);
}

.image {
    border: 1.9px solid transparent;/* This transparency trick will allow us to transition the border without any annoying movements btw. */
    transition: border 0.2s;
    position: relative;
    overflow: hidden;
    height: 200px;
    margin: 0.2rem;
}

.image:hover {
    border: 1.9px solid rgb(98, 133, 179);
}

.image img {
    transition: transform .2s ease,  border 0.2s;
}

.image:hover img {
    transform: scale(1.3),;
}

.img {
    transition: border 0.2s;
}

.img:hover {
    transform: scale(1.2);
}

.centerinfo {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    background-color: rgb(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    font-size: 1.4vh;
    text-align: center;
    position: absolute;
    width: 100%;
}

.desc_content {
    margin: 7px 23px;
}